{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.users.edit.head.title'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'admin.users.edit.title'|trans }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <label for="user_name">{{ 'admin.users.form.name.label'|trans }}</label>
            {{ form_widget(form.name, {'attr': {'class': 'form-control' ~ (form_errors(form.name) ? ' is-invalid' : '') }}) }}
            <div class="invalid-feedback">
                {% if form.name.vars['errors']|length > 0 %}
                    {{ form.name.vars['errors'][0].message }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="user_email">{{ 'admin.users.form.email.label'|trans }}</label>
            {{ form_widget(form.email, {'attr': {'class': 'form-control' ~ (form_errors(form.email) ? ' is-invalid' : '') }}) }}
            <div class="invalid-feedback">
                {% if form.email.vars['errors']|length > 0 %}
                    {{ form.email.vars['errors'][0].message }}
                {% endif %}
            </div>
        </div>

        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}


    <h3 class="mt-5">Update Password</h3>
    {{ form_start(passwordForm, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <label for="user_password_first">{{ 'admin.users.form.password.label'|trans }}</label>
            {{ form_widget(passwordForm.password.first, {'attr': {'class': 'form-control' ~ (form_errors(passwordForm.password.first) ? ' is-invalid' : '') }}) }}
            <div class="invalid-feedback">
                {% if passwordForm.password.first.vars['errors']|length > 0 %}
                    {{ passwordForm.password.first.vars['errors'][0].message }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="user_password_second">{{ 'admin.users.form.password_confirm.label'|trans }}</label>
            {{ form_widget(passwordForm.password.second, {'attr': {'class': 'form-control' ~ (form_errors(passwordForm.password.second) ? ' is-invalid' : '') }}) }}
            <div class="invalid-feedback">
                {% if passwordForm.password.second.vars['errors']|length > 0 %}
                    {{ passwordForm.password.second.vars['errors'][0].message }}
                {% endif %}
            </div>
        </div>

        {{ form_widget(passwordForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(passwordForm) }}
{% endblock %}