{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="form-group">
    <label for="attribute_name">{{ 'admin.attributes.form.name.label'|trans }}</label>
    {{ form_widget(form.name, {'attr': {'class': 'form-control' ~ (form_errors(form.name) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.name.vars['errors']|length > 0 %}
            {{ form.name.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

<div class="form-group">
    <label for="attribute_description">{{ 'admin.attributes.form.description.label'|trans }}</label>
    {{ form_widget(form.description, {'attr': {'class': 'form-control' ~ (form_errors(form.description) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.description.vars['errors']|length > 0 %}
            {{ form.description.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
{{ form_end(form) }}