{% extends 'base.html.twig' %}

{% block title %}{{ 'page.products.head.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-3">{{ 'page.products.title'|trans }}</h1>
        <hr>

        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <h3><a href="{{ path('product_show', {'slug': product.slug}) }}">{{ product.title }}</a></h3>
                    <p>{{ product.description }} <span>{{ product.price }}</span></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}