{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="{{ path('admin_categories_update', {'slug': category.slug}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('admin_categories_create') }}">Add Category</a>
    </div>
{% endblock %}
