{% import _self as formMacros %}
    {% macro printAttributesRow(attributesForm) %}
        <div class="attribute-item card mb-3">
            <div class="card-body" style="background: #cbd3da">
                <h5 class="card-title">{{ 'admin.products.form.attribute.label'|trans }}</h5>
                <div class="form-group">
                    <label for="category_name">{{ 'admin.products.form.attributes.label'|trans }}</label>
                    {{ form_widget(attributesForm.attribute, {'attr': {'class': 'form-control' ~ (form_errors(attributesForm.attribute) ? ' is-invalid' : '') }}) }}
                    <div class="invalid-feedback">
                        {% if attributesForm.attribute.vars['errors']|length > 0 %}
                            {{ attributesForm.attribute.vars['errors'][0].message }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="category_name">{{ 'admin.products.form.attribute_value.label'|trans }}</label>
                    {{ form_widget(attributesForm.value, {'attr': {'class': 'form-control' ~ (form_errors(attributesForm.value) ? ' is-invalid' : '') }}) }}
                    <div class="invalid-feedback">
                        {% if attributesForm.value.vars['errors']|length > 0 %}
                            {{ attributesForm.value.vars['errors'][0].message }}
                        {% endif %}
                    </div>
                </div>

                <a href="#" class="remove-attribute btn btn-danger" style="float: right">
                    {{ 'admin.products.button.remove_attribute'|trans }}
                </a>
            </div>
        </div>
    {% endmacro %}


{{ form_start(form) }}

{# Title field #}
<div class="form-group">
    <label for="product_title">{{ 'admin.products.form.title.label'|trans }}</label>
    {{ form_widget(form.title, {'attr': {'class': 'form-control' ~ (form_errors(form.title) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.title.vars['errors']|length > 0 %}
            {{ form.title.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{# Meta Title field #}
<div class="form-group">
    <label for="product_meta_title">{{ 'admin.products.form.meta_title.label'|trans }}</label>
    {{ form_widget(form.meta_title, {'attr': {'class': 'form-control' ~ (form_errors(form.meta_title) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.meta_title.vars['errors']|length > 0 %}
            {{ form.meta_title.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{# Description field #}
<div class="form-group">
    <label for="product_description">{{ 'admin.products.form.description.label'|trans }}</label>
    {{ form_widget(form.description, {'attr': {'class': 'form-control' ~ (form_errors(form.description) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.description.vars['errors']|length > 0 %}
            {{ form.description.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{# Meta Description field #}
<div class="form-group">
    <label for="product_meta_description">{{ 'admin.products.form.meta_description.label'|trans }}</label>
    {{ form_widget(form.meta_description, {'attr': {'class': 'form-control' ~ (form_errors(form.meta_description) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.meta_description.vars['errors']|length > 0 %}
            {{ form.meta_description.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{# Slug field #}
<div class="form-group">
    <label for="product_slug">{{ 'admin.products.form.slug.label'|trans }}</label>
    {{ form_widget(form.slug, {'attr': {'class': 'form-control' ~ (form_errors(form.slug) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.slug.vars['errors']|length > 0 %}
            {{ form.slug.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{# Brand #}
<div class="form-group">
    <label for="product_brand">{{ 'admin.products.form.brand.label'|trans }}</label>
    {{ form_widget(form.brand, {'attr': {'class': 'form-control' ~ (form_errors(form.brand) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.brand.vars['errors']|length > 0 %}
            {{ form.brand.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{# SKU field #}
<div class="form-group">
    <label for="product_sku">{{ 'admin.products.form.sku.label'|trans }}</label>
    {{ form_widget(form.sku, {'attr': {'class': 'form-control' ~ (form_errors(form.sku) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.sku.vars['errors']|length > 0 %}
            {{ form.sku.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{# MPN field #}
<div class="form-group">
    <label for="product_mpn">{{ 'admin.products.form.mpn.label'|trans }}</label>
    {{ form_widget(form.mpn, {'attr': {'class': 'form-control' ~ (form_errors(form.mpn) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.mpn.vars['errors']|length > 0 %}
            {{ form.mpn.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{# Price field #}
<div class="form-group">
    <label for="product_price">{{ 'admin.products.form.price.label'|trans }}</label>
    {{ form_widget(form.price, {'attr': {'class': 'form-control' ~ (form_errors(form.price) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.price.vars['errors']|length > 0 %}
            {{ form.price.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{# Quantity field #}
<div class="form-group">
    <label for="product_quantity">{{ 'admin.products.form.quantity.label'|trans }}</label>
    {{ form_widget(form.quantity, {'attr': {'class': 'form-control' ~ (form_errors(form.quantity) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.quantity.vars['errors']|length > 0 %}
            {{ form.quantity.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{# Enabled Switch #}
<div class="form-group">
    <div class="custom-control custom-switch">
        {{ form_widget(form.enabled) }}
        <label class="custom-control-label"
               for="product_enabled">{{ 'admin.products.form.enabled.label'|trans }}</label>
    </div>
</div>

{# Categories #}
<div class="form-group">
    <label for="product_categories">{{ 'admin.products.form.categories.label'|trans }}</label>
    {{ form_widget(form.categories, {'attr': {'class': 'form-control' ~ (form_errors(form.categories) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.categories.vars['errors']|length > 0 %}
            {{ form.categories.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

<h3>{{ 'admin.products.form.attributes.label'|trans }}</h3>
<div class="attributes-wrapper"
     data-prototype="{{ formMacros.printAttributesRow(form.attributes.vars.prototype)|e('html_attr') }}"
     data-index="{{ form.attributes|length }}">

    {% for attributesForm in form.attributes %}
        {{ formMacros.printAttributesRow(attributesForm) }}
    {% endfor %}

    <a href="#" id="addAttributeBtn" class="btn btn-danger">{{ 'admin.products.button.add_attribute'|trans }}</a>
</div>

{{ form_widget(form.save) }}


{{ form_end(form) }}
