{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="form-group">
    <label for="name">{{ 'admin.brands.form.name.label'|trans }}</label>
    {{ form_widget(form.name, {'attr': {'class': 'form-control' ~ (form_errors(form.name) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.name.vars['errors']|length > 0 %}
            {{ form.name.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

<div class="form-group">
    <label for="details">{{ 'admin.brands.form.details.label'|trans }}</label>
    {{ form_widget(form.details, {'attr': {'class': 'form-control' ~ (form_errors(form.details) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.details.vars['errors']|length > 0 %}
            {{ form.details.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

<div class="form-group">
    <label for="name">{{ 'admin.brands.form.slug.label'|trans }}</label>
    {{ form_widget(form.slug, {'attr':{'class': 'form-control' ~ (form_errors(form.slug) ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {% if form.slug.vars['errors']|length > 0 %}
            {{ form.slug.vars['errors'][0].message }}
        {% endif %}
    </div>
</div>

{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
{{ form_end(form) }}